/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #A9A9A9;
  background-size: auto 100vh;
  height: 100vh;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

/* se a tela tiver pelo menos 400px carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #FFFAFA; 
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

a {
  text-decoration: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block; 
  padding: 20px 20px;
  color: 	#6e6464;
  transition: background-color 0.8s, color 0.08s; 
}

.menu i {
  color: #6e6464;
  font-size: 1.3em;
}

.menu a:active,
.menu a:hover {
  background-color: #000000;
  color: #696969;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.site-title {
  color:	#FFFFFF;
  font-size: 3.4em; /* 4x o tamanho do font-size que tá declarado no body */
}

.site-subtitle {
  line-height: 1.8em;
  color: #FFFFFF;
}

.sobre,
.contato,
.portfolio, 
.experiencias {
  padding: 4em;
  min-height: 300px;
  letter-spacing: 2px;
}

@media (min-width: 1200px) {
  .sobre,
  .contato,
  .portfolio,
  .experiencias {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sobre h2,
.contato h2,
.portfolio h2,
.experiencias h2 {
  color: #FFFFFF;
  margin-bottom: 1.5em;
  font-size: 1.5em;
  font-weight: bols;
  text-align: center;
}

.sobre p {
  color: #FFFFFF;
  margin-bottom: 1.4em;
  text-indent: 1.4em;
  text-align: justify;
}

.sobre a {
  color: #FFFFFF;
  text-decoration: underline;
}

.sobre a:hover {
  text-decoration: none;
}

.sobre .avatar {
  float: right;
  margin-left:2em;
}

.sobre .avatar img {
  width: 400px; 
  height: 380px;
  object-fit: cover;
  border-radius: 10%;
}

.competencias {
  align-items: center;
  color: #FFFFFF;
  font-size: 4em;
  display: flex;
  justify-content: space-around;
  transition: transform 500ms;
} 

.competencias p {
  font-size: 0.25em;
  text-align: center;
  margin-top: 20px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

.competencias .fab:hover,
.competencias .fas:hover  {
  transform: scale(1.2);
}

.lista-experiencias {
  color: #FFFFFF;
  margin-bottom: 1.4em;
  text-indent: 1.4em;
  text-align: justify;
}

.experiencias a {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

.experiencias p {
  padding: 10px;
  color: #FFFFFF;
  font-weight: bold;
}

.contato {
  min-height: 350px;
  padding: 2em;
  text-align: center;
}

.contato .icons {
  text-align: center;
}

.contato a {
  color: #FFFFFF;
  font-size: 3em;
  transition: text-shadow 1s;
}

.contato p {
  color: #FFFFFF;
  font-weight: bold;
}

.contato a:active,
.contato a:hover  {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(0,0,0,.6);
}

.rodape {
  background:	#FFFAFA;
  background-size: 100vh;
  padding: 10px;
}

.rodape p {
  color: #6e6464;
  text-align: center;
  font-size: 16px;
  font-family: "Jost", sans-serif;
  text-decoration: none;
}

@media (min-width: 360px) {
  .rodape p {
    font-size: 14px;
  }
}

.rodape p:hover {
  color: black;
}